# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.env
.env.dev
.env.staging
_bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.7z
*.dmg   
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

.idea
.DS_Store
.vscode
__debug_bin